.loginbuttonstyling{
    display: block;
    color: white;
    padding: 20px;
    background-color: black;
    font-size: 18px;
    text-decoration: none;
    align-content: stretch;
    font-family: "nitti", sans-serif;
    position: absolute;
    top: 0%;
    right: 2%;
    cursor: pointer;
    border-style: solid;
    border-color: white;
}
.loginbuttonstyling:hover{
    color: rgb(216, 0, 216);
    font-style: italic;
}

.loginModalBackground{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.336);
   
}
.loginNOPE{
    display: none;
}
.loginModal{
    background-color: black;
    color: white;
    
   position: absolute;
   border-style: solid;
   border-color: orange;
   animation-name: loginboxanimator;
   animation-duration: 0.3s;
   animation-fill-mode: forwards;
   -webkit-animation-name: loginboxanimator;
   -webkit-animation-duration: 0.3s;
   -webkit-animation-fill-mode: forwards;
}
@keyframes loginboxanimator {
    0%{
        right: 37.5%;
        top: 37.5%;
width: 25%;
height: 25%;
    }
    70%{
        top: 12.5%;
        right: 12.5%;
 width: 75%;
 height: 75%;
    }
    100% { 
        top: 25%;
        right: 25%;
     width: 50%;
     height: 50%;
     }
 }
 @-webkit-keyframes loginboxanimator {
    0%{
        right: 37.5%;
        top: 37.5%;
width: 25%;
height: 25%;
    }
    70%{
        top: 12.5%;
        right: 12.5%;
 width: 75%;
 height: 75%;
    }
    100% { 
        top: 25%;
        right: 25%;
     width: 50%;
     height: 50%;
     }
 }